doctype html
html(lang='en')
    include components/header
    body
        .BlahajFrame
            .BlahajTopButtons
                a.BlahajButton(href='edit.html')
                    img(alt='Back', src='https://blahaj.land/static/api?type=image&bucket=icons&file=left')
                    p Cancel
                a#switch-theme.BlahajButton
                    img(alt='Theme', src='https://blahaj.land/static/api?type=image&bucket=icons&file=theme')
                    p Theme
                a#ynh-logout.BlahajButton.BlahajLogout(href='?action=logout')
                    img(alt='Log out', src='https://blahaj.land/static/api?type=image&bucket=icons&file=logout')
                    p Log out
            .BlahajUser
                img(alt='Blahaj', src='https://blahaj.land/static/api?type=image&bucket=pictures&file=theme_user-icon')
                div
                    h2 Edit {{givenName}}&apos;s password
            .BlahajNotice.warning
                h3 How to choose a good password
                ul
                    li Pick a password of at least 8 characters
                    li It is good practice to use longer ones (i.e. a passphrase)
                    li Use various kind of characters
                    ul
                        li Uppercase
                        li Lowercase
                        li Digits
                        li Special characters
            .BlahajEdit
                form.form-password(action='password.html', method='POST', role='form')
                    .BlahajEdits
                        div
                            p Current password
                            label.BlahajInput(for='currentpassword')
                                input#currentpassword.form-text(autocomplete='current-password', name='currentpassword', placeholder='Current password', required='', type='password')
                        div
                            p New password
                            label.BlahajInput(for='newpassword')
                                input#newpassword.form-text(autocomplete='new-password', name='newpassword', placeholder='New password', required='', type='password')
                            label.BlahajInput(for='confirm')
                                input#confirm.form-text(autocomplete='new-password', name='confirm', placeholder='Retype password', required='', type='password')
                    .BlahajButtonsSet
                        a.BlahajSubmit(href='edit.html', role='button')
                            p Cancel
                        input.BlahajSubmit.important(type='submit', value='Done')
            include components/footer