doctype html
html(lang='en')
    include components/header
    body
        .BlahajFrame
            .BlahajTopButtons
                a.BlahajButton(href='edit.html')
                    img(alt='Settings', src='https://assets.blahaj.land/icons/user.png')
                    p Accounts settings
                a#switch-theme.BlahajButton
                    img(alt='Theme', src='https://assets.blahaj.land/icons/theme.png')
                    p Theme
                a#ynh-logout.BlahajButton.BlahajLogout(href='?action=logout')
                    img(alt='Log out', src='https://assets.blahaj.land/icons/logout.png')
                    p Log out
            .BlahajUser
                img(alt='Blahaj', src='https://assets.blahaj.land/pictures/user-icon.png')
                div
                    h2 Hello there, {{givenName}} :3
                    p {{{uid}}} &bull; {{mail}}
            #apps.BlahajAppList.listing-apps
                | {{#app}}
                a.BlahajAppTile(data-appname='{{name}}', href='https://{{url}}', rel='noopener noreferrer', target='_blank')
                    img.BlahajAppIcon(alt='{{name}}', src='https://assets.blahaj.land/apps/unknown.png')
                    p.BlahajName {{name}}
                | {{/app}}
            include components/footer